@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'merriweather', system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
}

.header{
    grid-column: 2;
    grid-row: 1;
}

.sidebar{
    grid-column: 1;
}

.icon{
    width: 3vw;
}