.title-bar{
    background-color: #E4F4F3;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    border-bottom: 2px solid grey;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.title{
    font-size: 4rem;
    color: #00B6BC;
    font-weight: 700;
}

.header-icon{
        width: 5vw;
}